.container{
 display: flex; flex-direction: column;min-height: 100vh;
 font-size: 14pt;
}
.contenu{
    display: flex; flex:1;
}
.menu{
    width: 30%;
    background-color: #808000;
    padding: 10%;
}
.principal{
    width:70%;
    padding:10%
}
.entete{
    background-color: #00ffff;
    text-align: center;
    padding: 10%;
}
.peid{
    background-color: #00ff00;
    text-align: center;
    padding: 10px;
}
