.frame-b1{
    width: 100%;height: 100vh ;border:1px solid #000; box-sizing: border-box;
}
.frame1{
    height:10%;width: 100%;border:none;
}
.frame-b2{
    display: flex;height: 90%;
}
.frame2{
    width: 20%;border:none;
}
.frame{
    width:80%;border:none
}