body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e0e0e0;
}
nav{
    width: 200px;
    min-height: 200px;
    border-style: solid;border-color: #999999;border-radius: 1px;
    background-color: #ffffff;
    padding:20px ;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto ;
    margin: auto;


}
h1{
    font-size: 26px;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    color: #333333;
    text-transform: capitalize;

}
ul{
    width: 200px;
    list-style-type: none;
    padding: 0%;
    margin:0%;
}
li{
    border: 1px;border-style: solid;color: #000999;
    background-color: #e0e0e0;
    margin:1px;
    text-align: center;

}
a{
    color: #666666;
    font-size: 16px;
    line-height: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-decoration: none;

}
a:hover{
    color:#e0e0e0;
    background-color: #666666;
}
a:active{
    color: red;
}
