table{

   height: 100%;
   width: 100%;
    border:3px dashed ;
    border-color: transparent;
    margin: 10px;
    border-spacing: 5px;
    float: right;
    border-collapse: collapse;
    


}
td,th{
    border: 3px solid;
}
#col1{

    background-color: yellow;
   
}
#col2{
    background-color: blue;
    
}
.red{
    background-color: red;
}
.wdth{
    width: 15%;
}
.wd{
    width: 10%;
}
#c13{
    background-image: url(water-green-leaf.jpg);
}